{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Sensio TV+</h1>

    <p>Last movies added :</p>
    <ul>
    {% for movie in movies %}
        <li>
            <img src="{{ movie.poster }}" alt="{{ movie.poster }}"/>
            <div>
                <ul>
                    <li>{{ movie.title }}</li>
                    <li>{{ movie.releasedAt|date('Y M d') }}</li>
                    <li>{{ movie.price }}</li>
                </ul>
            </div>
        </li>

        {% else %}
        <p>No movies in database yet.</p>
    {% endfor %}
    </ul>
</div>
{% endblock %}
